# Pandas 특강

# 0. Pandas란?

## 1) 필요성

data가 많아짐에 잘 저장하고 분석할 필요가 있습니다.

그러한 data를 동일한 형식으로 저장할 필요가 있습니다.

이런 필요를 동시에 충족시켜주는 것이 pandas입니다.

(서로 다른 종류의 데이터를 한 곳에 담는 그릇을 제공한다고 생각해도 됩니다.)

그러한 그릇을 1차원 배열에 담기도 2차원 배열에 담기도 합니다.

## 2) pandas 공부법

오늘 수업을 들어도 배운 함수들을 정확히 이해하고 바로 사용할 수 없을 것이라고 생각합니다.

pandas도 마찬가지로 직접 사용해야 실력이 늡니다.

오늘은 큰 흐름을 파악하고 중요한 부분은 같이 직접 코드도 쳐보시면서 감을 익히시기 바랍니다.

그리고 여기 자료를 보면서 여러분의 data를 직접 전처리하시면 그 때부터 여러분들의 실력이 됩니다.

In [3]:
import pandas as pd

------

# 1. Pandas 자료구조

---------

## 1) Series

### **'index'**와 **'value'**로 이루어진 1차원의 structured data 형식 ('name'도 있습니다.)

- numpy의 1d array와 약간 유사하다고 생각하면 됩니다.

- numpy와 달리 index가 있다.

- 그래서 dictionary와 더 유사하다.

### 1> Series 만들기

> #### 1-1> value와 index 각각 설정 (default index는 0부터)

In [4]:
s1_1 = pd.Series(data = ['a', 'b', 'c'])
s1_1

0    a
1    b
2    c
dtype: object

> #### 1-2> value와 index 각각 설정 (optional)

In [10]:
s1_2 = pd.Series(data = ['a', 'b', 'c'], index = range(1,4))
s1_2

1    a
2    b
3    c
dtype: object

> #### 1-3> dictionary로 Series 만들기

In [4]:
s2 = pd.Series(data = {'math': 90, 'english': 85, 'korean': 97})
s2

math       90
english    85
korean     97
dtype: int64

### 2> Series의 객체

> #### 2-1> values

In [5]:
s2.values # ndarray 출력

array([90, 85, 97], dtype=int64)

> #### 2-2> index

In [6]:
s2.index

Index(['math', 'english', 'korean'], dtype='object')

In [7]:
s2.name # 현재 name이 None인 상태

-------

## 2) DataFrame

### 여러 개의 Series로 이루어진 2차원의 structured data 형식

- DataFrame 각각의 column vector(열)를 하나의 Series라고 보면 됩니다.

- 하나의 **'index'**에 **'column(name)'**별 **'value'**들이 존재

- numpy의 2d array와 유사하지만 행에는 index, 열에는 column이 붙어있는 형태입니다.

### 1> DataFrame 만들기

> #### 1-1> value, index, column를 각각 설정 (index와 column의 default는 RangeIndex(0이상의 정수 나열))

In [9]:
df1 = pd.DataFrame(data = [[20, 'Germany', 'computer science'], [24, 'China', 'math']], 
                   index = ['Harry', 'Linda'],columns = ['age', 'Orgin', 'major'])

df1

       age    Orgin             major
Harry   20  Germany  computer science
Linda   24    China              math

> #### 1-2> dictionary로 만들기

dictionary의 한 쌍에 한 개의 Series가 들어간다고 생각하면 됩니다.

In [10]:
dic2 = {'age': [20,24], 'Orgin': ['Germany', 'China'], 'major':['computer science', 'math']}
df2 = pd.DataFrame(data = dic2, index = ['Harry', 'Linda'] )
df2

       age    Orgin             major
Harry   20  Germany  computer science
Linda   24    China              math

그래서 반대 case는 안 됩니다.

In [11]:
dic3 = {'Harry': [20, 'Germany', 'computer science'], 'Linda':[24,'China', 'math']}
df3 = pd.DataFrame(data = dic3, columns = ['age', 'Orgin', 'major'])
df3

Empty DataFrame
Columns: [age, Orgin, major]
Index: []

### 2> DataFrame의 객체

> #### 2-1> values

In [12]:
df1.values

array([[20, 'Germany', 'computer science'],
       [24, 'China', 'math']], dtype=object)

> #### 2-2> index

In [13]:
df1.index

Index(['Harry', 'Linda'], dtype='object')

> #### 2-3> columns

In [14]:
df1.columns

Index(['age', 'Orgin', 'major'], dtype='object')